<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Visa checker App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Visa checker</h1>
    <p>Attempt to create a visa checker at aasas
    <a href="http://www.travelvast.com">Travelvast</a></p>
  </body>
</html>


